<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="signup-container">
    <h2>Đăng ký vào hệ thống</h2>
    <form th:action="@{/signup}" method="post">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password">

        <label for="password">Nhập lại mật khẩu:</label>
        <input type="password" id="retype_password" name="retype_password">

        <button type="submit">Đăng ký</button>
    </form>
    <div th:if="${param.error}">
        <p style="color: red;">Sai tên đăng nhập hoặc mật khẩu!</p>
    </div>
</div>
</body>
</html>